
.fb:active {
	border-bottom:none;
	border-right:none;

}

.fb, .twitter {
	font-family:tahoma;
	width: 120px;
	height: 25px;
	color: #fff;
	text-align: left;
	font-size: 30px;
	line-height: 50px;
border:0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
		margin-top:20px;margin-bottom:20px;
		padding:4px;

}

.fb {	background-color: #3B5998;}
.twitter {background-color:#33CCFF;}
/* these never change, hopefully ... */
.fb h3 {	font-family:tahoma;letter-spacing:1px;font-size: 12px;
line-height: 0px;}
h3 {
	font-size: 12px;
	line-height: 0px;
	font-family: helvetica, sans-serif;
}
 
p {
	font-size: 12px;
	line-height: 0px;
	font-family: helvetica, sans-serif;
	margin-top:20px;margin-bottom:20px;
}
 
a {
	text-decoration: none;
	color: #000;
}